In [ ]:
# Data Science Tools and Ecosystem

In [ ]:
## Introduction
In this notebook, we will explore various tools, languages, and libraries used in data science.
We'll also cover basic arithmetic operations, create tables, and demonstrate how to convert units like minutes to hours.
This notebook serves as a beginner-friendly introduction to the data science ecosystem.

In [ ]:
## Data Science Languages
Some of the most commonly used programming languages in data science include:
- Python
- R
- SQL
- Julia
- Scala
- Java
- MATLAB

In [ ]:
## Data Science Libraries
Here are some popular libraries used in data science:
- **Python Libraries**:
  - NumPy
  - Pandas
  - Matplotlib
  - Seaborn
  - Scikit-learn
  - TensorFlow
  - PyTorch
- **R Libraries**:
  - ggplot2
  - dplyr
  - caret
  - tidyr
- **SQL Libraries**:
  - SQLite
  - PostgreSQL

In [ ]:
## Data Science Tools
| Category              | Tool Name          | Description                                   |
|-----------------------|--------------------|-----------------------------------------------|
| Data Analysis         | Jupyter Notebook   | Interactive environment for data exploration |
| Machine Learning      | Scikit-learn       | Library for machine learning algorithms       |
| Visualization         | Tableau            | Tool for creating interactive dashboards      |
| Big Data Processing   | Apache Spark       | Framework for distributed data processing     |
| Version Control       | Git                | Tool for tracking code changes                |
| Database Management   | MySQL              | Relational database management system         |

In [ ]:
## Arithmetic Expression Examples
Arithmetic expressions are fundamental in programming and data science. Below, 
we will demonstrate simple arithmetic operations such as addition and multiplication.

In [ ]:
# Arithmetic Operations in R
a <- 5
b <- 3
c <- 2

# Addition
addition_result <- a + b
cat("Addition:", a, "+", b, "=", addition_result, "\n")

# Multiplication
multiplication_result <- a * c
cat("Multiplication:", a, "*", c, "=", multiplication_result, "\n")

In [ ]:
# Convert Minutes to Hours in R
minutes <- 150
hours <- minutes / 60
cat(minutes, "minutes is equal to", round(hours, 2), "hours\n")

In [ ]:
## Objectives
The objectives of this notebook are:
- To introduce the tools, languages, and libraries used in data science.
- To demonstrate basic arithmetic operations in Python.
- To provide examples of unit conversion (e.g., minutes to hours).
- To familiarize users with Jupyter Notebook's markdown and code cells.
- To encourage sharing and collaboration through GitHub.

In [ ]:
## Author
This notebook was created by **Carlos de Jesus Rodriguez Mendez**.