In [ ]:
import pandas as pd
import sqlite3

In [ ]:
# Create database connection
conn = sqlite3.connect("my_data1.db")

In [ ]:
# Load and insert data
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv")
df.to_sql("SPACEXTBL", conn, if_exists='replace', index=False, method="multi")

In [ ]:
# Create clean table
cursor = conn.cursor()
cursor.execute("DROP TABLE IF EXISTS SPACEXTABLE")
cursor.execute("CREATE TABLE SPACEXTABLE AS SELECT * FROM SPACEXTBL WHERE Date IS NOT NULL")

In [ ]:
# Task 1

In [ ]:
# Display the names of the unique launch sites in the space mission
print("\nTask 1:")
query1 = """
SELECT DISTINCT Launch_Site 
FROM SPACEXTABLE;
"""
cursor.execute(query1)
sites = cursor.fetchall()
for site in sites:
    print(site[0])

In [ ]:
# Task 2

In [ ]:
# Display 5 records where launch sites begin with the string 'CCA'
print("\nTask 2:")
query2 = """
SELECT * 
FROM SPACEXTABLE 
WHERE Launch_Site LIKE 'CCA%' 
LIMIT 5;
"""
cursor.execute(query2)
records = cursor.fetchall()
for record in records:
    print(record)

In [ ]:
# Task 3

In [ ]:
# Display the total payload mass carried by boosters launched by NASA (CRS)
print("\nTask 3:")
query3 = """
SELECT SUM(PAYLOAD_MASS__KG_) as total_payload 
FROM SPACEXTABLE 
WHERE Customer LIKE '%NASA (CRS)%';
"""
cursor.execute(query3)
print(f"Total payload mass: {cursor.fetchone()[0]} kg")

In [ ]:
# Task 4

In [ ]:
# Display average payload mass carried by booster version F9 v1.1
print("\nTask 4:")
query4 = """
SELECT AVG(PAYLOAD_MASS__KG_) as avg_payload 
FROM SPACEXTABLE 
WHERE Booster_Version = 'F9 v1.1';
"""
cursor.execute(query4)
print(f"Average payload mass: {cursor.fetchone()[0]} kg")

In [ ]:
# Task 5

In [ ]:
# List the date when the first successful landing outcome in ground pad was achieved
print("\nTask 5:")
query5 = """
SELECT MIN(Date) 
FROM SPACEXTABLE 
WHERE Landing_Outcome = 'Success (ground pad)';
"""
cursor.execute(query5)
print(f"First successful ground pad landing: {cursor.fetchone()[0]}")

In [ ]:
# Task 6

In [ ]:
# List the boosters which have success in drone ship and payload mass between 4000-6000
print("\nTask 6:")
query6 = """
SELECT DISTINCT Booster_Version 
FROM SPACEXTABLE 
WHERE Landing_Outcome = 'Success (drone ship)' 
AND PAYLOAD_MASS__KG_ BETWEEN 4000 AND 6000;
"""
cursor.execute(query6)
boosters = cursor.fetchall()
for booster in boosters:
    print(booster[0])

In [ ]:
# Task 7

In [ ]:
# List the total number of successful and failure mission outcomes
print("\nTask 7:")
query7 = """
SELECT Mission_Outcome, COUNT(*) as count 
FROM SPACEXTABLE 
GROUP BY Mission_Outcome;
"""
cursor.execute(query7)
outcomes = cursor.fetchall()
for outcome in outcomes:
    print(f"{outcome[0]}: {outcome[1]}")

In [ ]:
# Task 8

In [ ]:
# List the booster versions which have carried the maximum payload mass
print("\nTask 8:")
query8 = """
SELECT DISTINCT Booster_Version 
FROM SPACEXTABLE 
WHERE PAYLOAD_MASS__KG_ = (
    SELECT MAX(PAYLOAD_MASS__KG_) 
    FROM SPACEXTABLE
);
"""
cursor.execute(query8)
max_boosters = cursor.fetchall()
for booster in max_boosters:
    print(booster[0])

In [ ]:
# Task 9

In [ ]:
# List records with month names, failure landing outcomes in drone ship for 2015
print("\nTask 9:")
query9 = """
SELECT substr(Date, 6, 2) as month, 
       Landing_Outcome, 
       Booster_Version, 
       Launch_Site 
FROM SPACEXTABLE 
WHERE substr(Date, 0, 5) = '2015' 
AND Landing_Outcome LIKE '%Failure%ship%';
"""
cursor.execute(query9)
records = cursor.fetchall()
for record in records:
    print(record)

In [ ]:
# Task 10

In [ ]:
# Rank the count of landing outcomes between 2010-06-04 and 2017-03-20
print("\nTask 10:")
query10 = """
SELECT Landing_Outcome, COUNT(*) as count 
FROM SPACEXTABLE 
WHERE Date BETWEEN '2010-06-04' AND '2017-03-20' 
GROUP BY Landing_Outcome 
ORDER BY count DESC;
"""
cursor.execute(query10)
rankings = cursor.fetchall()
for rank in rankings:
    print(f"{rank[0]}: {rank[1]}")

In [ ]:
# Close connection
conn.close()